<h3><i class="fa-solid fa-map-location-dot"></i> Memory Lanes</h3>
<div class="section">
    <p class="lead">Map your life</p>
</div>
<div class="divider"></div>
<div class="section">
    <a href="/auth/google" class="btn red darken-1">
        <i class="fab fa-google left"></i> Log in with Google
    </a>

</div>